# MATLAB files
*.mat
*.asv
*.fig
*.slx
*.mlapp
*.mltbx
*.mlappinstall
*.mlr
*.mlproj
*.sldd
*.p
*.o
*.log
*.bak
# Conda files
venv/
__pycache__/
*.pyc
.env
.conda/
*.egg-info
conda/
# macOS files
.DS_Store
# Large LBLRTM files
data/*.nc
data/*.bin
data/TAPE7*
# Large plot files (optional, if you want to exclude)
figures/*.tiff
figures/*.eps
